<div class="container">

    <h1>Schedule</h1>

    {{#each group in groupedSessions}}

        <div>

            <h3>{{friendly-time group.startTime}} - {{friendly-time group.endTime}}</h3>

            <div class="card-container">

                {{#each session in group.sessions}}

                    <div class="card">
                        <div>{{session.title}}</div>
                        <div>
                            {{#each presenter in session.presenters}}
                                {{link-to presenter.name "speaker" presenter}}
                            {{/each}}
                        </div>
                    </div>

                {{/each}}

            </div>

        </div>

    {{/each}}

</div>